#tcol {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-column-gap: 1vw;
    margin: 1vw;
}
#rolepanel {
    backdrop-filter: blur(8px);
    background-color: rgb(255 255 255 / 20%);
    padding: .5vw;
}
#revpan {
    text-align: center;
}
#reveal {
    font-weight: 700;
    font-size: 1.4vw;
}
#role {
    font-weight: 700;
    font-size: 3vw;
    margin-bottom: 2vh;
    animation: 2s rb;
}
@keyframes rb {
    from {
	opacity: 0;
    }
    to {
	opacity: 1;
    }
}
#rimagectnr {
    margin-bottom: 1vh;
}
#rimage {
    left: auto;
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#patterns {
    padding-right: 1vw;
}
#twotwo {
    display: grid;
    grid-template-columns: repeat(2, auto);
    column-gap: .4vw;
    row-gap: .4vh;
}
#verbiage {
    margin-top: 2em;
}
#remember {
}
#deets {
    text-align: right;
    font-size: 1vw;
    margin-bottom: 1vh;
    margin-right: 1vw;
}
#twotwo div {
    margin: auto;
}
#feed {
    border: 1px solid #bbb;
    width: max-content;
    position: relative;
    margin: auto;
}
#feedh {
    margin-top: 2em;
}
#sub {
    background-color: #833;
    color: white;
    border: 1px solid #555;
    border-radius: 8px;
    position: absolute;
    right: 4px;
    bottom: 4px;
    font-weight: 500;
}
#sub:hover {
    background-color: #c66;
    box-shadow: 1px 1px 1px tan;
}
#ta {
    border: none;
}
#selcont {
    position: fixed;
    top: 0;
    z-index: 1;
    right: 0;
    left: 0;
    text-align: center;
    background-color: rgb(240,255,240,50%);
    border: 1px solid tan;
    padding: 2px;
}
#lert {
    display: block;
    opacity: 0;
    top: 50vh;
    left: 40vw;
    border: 1px solid black;
    border-radius: 10px;
    background-color: yellow;
    color: red;
    padding: 5px;
    max-width: fit-content;
    position: absolute;
    box-shadow: inset 0px 0px 2px grey, 0px 0px 5px grey;
    font-weight: 800;
    font-size: 20pt;
}
@keyframes fade-inout {
    0% {
	opacity: 0;
    }
    25% {
	opacity: 1;
    }
    75% {
	opacity: 1;
    }
    100% {
	opacity: 0;
    }
}
